name: CI

on:
  workflow_call:

jobs:
  windows:
    runs-on: windows-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - arch: amd64
            msvc_arch: amd64

          - arch: arm64
            msvc_arch: amd64_arm64

    env:
      ARCH: ${{ matrix.arch }}

    steps:
      - uses: actions/checkout@v4

      - uses: ilammy/msvc-dev-cmd@v1
        with:
          arch: ${{ matrix.msvc_arch }}

      - name: Build
        shell: bash
        run: PLATFORM=windows ./tools/build.sh

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: windows-${{ matrix.arch }}
          path: artifacts/*

  msys:
    name: "MinGW"
    runs-on: ${{ matrix.runs-on }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - runs-on: windows-latest
            arch: amd64
            msystem: mingw64

          - runs-on: windows-11-arm
            arch: arm64
            msystem: clangarm64

    env:
      ARCH: ${{ matrix.arch }}
      PLATFORM: mingw

    steps:
      - name: Checkout
        uses: actions/checkout@v5.0.0

      - name: Setup MSYS2
        id: msys2
        uses: msys2/setup-msys2@v2
        with:
          msystem: ${{ matrix.msystem }}
          update: true
          install: >-
            git make unzip patch
          pacboy: >-
            cmake:p ninja:p toolchain:p

      - name: Build
        shell: msys2 {0}
        run: ./tools/build.sh

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: mingw-${{ matrix.arch }}
          path: artifacts/*

  android:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false

    env:
      PLATFORM: android

    steps:
      - uses: actions/checkout@v4

      - name: Build
        shell: bash
        run: ./tools/build.sh

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: android
          path: artifacts/*

  linux:
    name: "Linux ${{ matrix.arch }}"
    runs-on: ${{ matrix.runs-on }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - runs-on: ubuntu-latest
            arch: amd64

          - runs-on: ubuntu-24.04-arm
            arch: aarch64

    env:
      ARCH: ${{ matrix.arch }}
      PLATFORM: linux

    steps:
      - uses: actions/checkout@v4

      - name: Deps
        run: ./deps/linux.sh

      - name: Build
        run: ./tools/build.sh

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: linux-${{ matrix.arch }}
          path: artifacts/*

  unix:
    name: "${{ matrix.platform }} ${{ matrix.arch }}"
    runs-on: ${{ matrix.runs-on }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - platform: solaris
            runs-on: ubuntu-latest
            arch: amd64
            vm-arch: x86_64

          - platform: freebsd
            runs-on: ubuntu-latest
            arch: amd64
            vm-arch: x86_64

          - platform: openbsd
            runs-on: ubuntu-latest
            arch: amd64
            vm-arch: x86_64

    env:
      PLATFORM: ${{ matrix.platform }}
      ARCH: ${{ matrix.arch }}

    steps:
      - uses: actions/checkout@v4

      - name: Disable man-db updates
        run: sudo rm /var/lib/man-db/auto-update

      - name: Build (Solaris)
        if: matrix.platform == 'solaris'
        uses: vmactions/omnios-vm@v1
        with:
          arch: ${{ matrix.vm-arch }}
          release: "r151054"
          usesh: true
          envs: 'PLATFORM ARCH GITHUB_WORKSPACE'

          run: |
            chmod a+x ./deps/omnios.sh
            chmod a+x ./tools/build.sh

            ./deps/omnios.sh
            ./tools/build.sh

      - name: Build (FreeBSD)
        if: matrix.platform == 'freebsd'
        uses: vmactions/freebsd-vm@v1
        with:
          arch: ${{ matrix.vm-arch }}
          usesh: true
          envs: 'PLATFORM ARCH GITHUB_WORKSPACE'

          run: |
            chmod a+x ./deps/freebsd.sh
            chmod a+x ./tools/build.sh

            ./deps/freebsd.sh
            bash -e ./tools/build.sh

      - name: Build (OpenBSD)
        if: matrix.platform == 'openbsd'
        uses: vmactions/openbsd-vm@v1
        with:
          arch: ${{ matrix.vm-arch }}
          usesh: true
          envs: 'PLATFORM ARCH GITHUB_WORKSPACE'

          run: |
            chmod a+x ./deps/openbsd.sh
            chmod a+x ./tools/build.sh

            ./deps/openbsd.sh
            bash -e ./tools/build.sh

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.platform }}-${{ matrix.arch }}
          path: artifacts/*